#TasksContainer {
    background-color: #ffffff;
    width: 50vw;
    height: 100%;
}

#TaskTitle {
    padding-top: 15px;
    padding-left: 30px;
}

#TaskList {
    width: 80%;
    margin-top: 40px;
    margin-left: 40px;
    border-collapse: collapse;
}

#TaskListHeader{
    font-size: 15px;
    font-style: italic;
    height: 50px;
}

#TaskList .Task {
    width: 50%;
    height: 50px;
    text-align: left;
    /* border-top: solid 1px black; */
}

tr th {
    border-bottom: 1px rgb(139, 139, 139) solid;
    border-radius: 5px;
}

#TaskList .Task:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.2s;
}

#TaskListHeader > th {
    text-align: left;
}
