#NavbarContainer {
    display: flex;
    flex-direction: horizontal;
    height: 5.25vw;
    padding-top: 1.5vw;
    align-content: center;
}

#Icon {
    font-size: 2.1vw;
    margin: 0.45vw 0.6vw 1vw 3vw;
}

#NavbarTitle {
    text-align: left;
    padding-left: 1;
}

#LogoutButton {
    font-size: 1vw;
    margin-left: 67vw;
    margin-top: 0.5vh;
    width: 5.5vw;
    height: 2.25vw; 
    overflow: hidden;
    border-radius: 0.5vw;
    border: 0.5px solid rgba(255, 255, 255, 0.551);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .2);
    background-color: rgba(38,40,51,255);
    color: white;
}

#LogoutButton:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    transition: 0.2s;
}