#TasksContainer {
    background-color: #ffffff;
    width: 48vw;
    height: 100%;
}

#TaskTitle {
    text-align: left;
    padding: 2% 96% 0 4%;
}

#TaskList {
    width: 90%;
    border-collapse: collapse;
    margin: 2% auto 0;
}

#TaskListHeader{
    font-size: 1vw;
    font-style: italic;
    height: 3vw;
}

#TaskList .Task {
    width: 50%;
    height: 3vw;
    text-align: left;
}

tr th {
    border-bottom: 1px rgb(139, 139, 139) solid;
}

#TaskList .Task:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.2s;
}

#TaskListHeader > th {
    text-align: left;
}
