#TasksContainer {
    width: 48vw;
    height: 100%;
}

#TaskTitleContainer {
    display: flex;
    flex-direction: horizontal;
}

#TaskTitle {
    text-align: left;
    padding: 2% 77.5% 0 4%;
}

#TaskIcon {
    font-size: 2vw;
    margin: 2.5% 0% 0% 0%;
}

#TaskList {
    width: 90%;
    border-collapse: collapse;
    margin: 2% auto 0;
}

#TaskListHeader{
    font-size: 1vw;
    font-style: italic;
    height: 3vw;
}

#TaskList .Task {
    width: 50%;
    height: 3vw;
    text-align: left;
}

tr th {
    border-bottom: 1px rgb(139, 139, 139) solid;
}

#TaskList .Task:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.2s;
    cursor: pointer;
}

#TaskListHeader > th {
    text-align: left;
}
