#StudentListContainer {
    width: 28vw;
    height: 100%;
}

#StudentListTitle {
    text-align: left;
    padding: 2% 5% 0 4%;
}

#StudentList {
    margin: 2% 60% 0 4%;
}

.Student{
    overflow: hidden;
    border-radius: 1vw;
    border: 0.5px solid rgba(255, 255, 255, 0.551);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, 0);
    width: 24vw;
    height: 5vh;
    margin: 1vh;
    color: white;
    text-align: center;
    font-size: 1vw;
}