#StudentProfileContainer {
    display: flex;
    flex-direction: column;
    width: 64vw;
    height: 100%;
}

#StudentInfoContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#StudentProfileTitle {
    text-align: left;
    padding: 0.9% 0 0 1.6%;
}