@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", san-serif;
    font-weight: lighter;
}

body {
    font-size: 1vw;
}

#StudentPageMainContainer {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly;
    height: 50vh;
    overflow: hidden;
    margin: 1.33333vw 0px;
}

.StudentPageTab {
    overflow: hidden;
    border-radius: 1vw;
    border: 0.5px solid rgba(255, 255, 255, 0.551);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .2);
    max-width: 97.5vw;
    /* background: transparent; */
    /* backdrop-filter: blur(10px); */
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: rgba(38,40,51,255);
    color: white;
    background-size: cover;
    background-position: center;
}

#Progress {
    margin: 0 auto;
}

