* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cde7eb;
}

#Main {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly;
    height: 50vh;
    overflow: hidden;
    margin: 1.5vw 0px;
}

.Tab {
    overflow: hidden;
    border-radius: 1vw;
}


