* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", san-serif;
}

.SignupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-image: url(signup-background.jpg);
}

.wrapper {
    width: 33.3vw;
    background: transparent;
    border: 0.1vw solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1vw rgba(0, 0, 0, .2);
    color: white;
    border-radius: 1vw;
    padding: 3vw 3.5vw;
}

.wrapper h1 {
    font-size: 2.9vw;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 2.4vw 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 0.15vw solid rgba(255, 255, 255, .2);
    border-radius: 4vw;
    font-size: 1.25vw;
    color: white;
    padding: 1.5vw 3.4vw 1.5vw 1.5vw;
}

.input-box input::placeholder {
    color: white;
}

.input-box .icon {
    position: absolute;
    right: 1.5vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5vw;
}

.wrapper .btn {
    width: 100%;
    height: 3.4vw;
    background: #fff;
    border: none;
    outline: none;
    border-radius:3.4vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1.3vw;
    color: #333;
    font-weight: 600;
}