#ProfileContainer {
    background-color: #ffffff;
    width: 48vw;
    height: 100%;
}

#ProfileTitle {
    text-align: left;
    padding: 2% 96% 0 4%;
}

#UserProfile {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 70%;
    margin: 2% auto;  
}

.Description {
    text-align: center;
}

#ProfilePicture {
    border-radius: 100%;
    clip-path: circle();
    object-fit: cover;
}