#ProfileContainer {
    width: 48vw;
    height: 100%;
}

#ProfileTitleContainer {
    display: flex;
    flex-direction: horizontal;
}

#ProfileTitle {
    text-align: left;
    padding: 2% 76.5% 0 4%;
}

#ProfileIcon {
    font-size: 1.8vw;
    margin: 2.7% 0% 0% 0%;
}

#UserProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 70%;    
    margin: 0 auto 0;
}

.Description {
    text-align: center;
}

#ProfilePictureContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
}

#ProfilePicture {
    /* min-width: 12vw;
    min-height: 12vw;
    object-fit: fill; */
}

#Name {
    font-size: 1.5vw;
}

#Join {
    font-size: 0.9vw;
}

#NinjaBucks {
    font-size: 1.5vw;
}