#AccountTypeDisplayContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#AccountTypeContainer {
    display: flex;
    flex-direction: row;
    
}